/* Reset paddings & Margins */

* {
    margin: 0px;
    padding: 0px;
}

/* --Website-- */

a {
    color: yellowgreen;
}

article {
    float: right;
    max-width: 591px;
    width: 82%;
    background-color:darkslateblue;
    color: white;
    font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    position: relative;
}

body {
    background-color: #202020;
}

footer {
    background-color: black;
    color: white;
    clear: both;
    font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
}

header {
    max-width: 711px;
    width: 100%;
    display: block;
}

iframe {
    max-width: 400px;
    width: 190%;
    height: 315px;
    padding-left: 85px;
}

/* Classes */

.font-body {
    color: black;
    font-family:'Courier New', Courier, monospace
}

.frame {
    padding-right: 79px;
    max-width: 400px;
    width: 100%;
}

.frame_itch iframe {
    max-width: 250px;
    width: 100%;
    margin: 0 auto 0 auto;
    display: block;
    height: 155px;
}

.gold_angel_yellow {
    color: yellow;
}

.gondlin {
    background-color: black;
    height: 15px;
}

.iframe_icon_0 {
    max-width: 510px;
    width: 90%;
    margin-left: -40px;
    height: 175px;
    background-color: transparent;
}

.noads {
    display: none;
}

.novisibleclicky {
    display: block;
}

.screenshots {
    max-width: 190px;
}

.table_gac {
    max-width: 591px;
    width: 100%;
    margin: 0 auto 0 auto;
    display: block;
}

.table_goddess {
    max-width: 591px;
    width: 100%;
    background-image: url(../images/Goddess\ Hase\ -\ Gold\ Angel\ Corp\ -\ Itch.io.png);
    background-repeat: no-repeat;
    background-position:Right;
    background-size: 27% 111%;
    background-position-y: top;
}

.table_header {
    background-color: #342b4e;
    text-align: center;
    max-width: 591px;
    width: 100%;
    font-weight: bolder;
    float: right;
}

.text_article {
    max-width: 440px;
    width: 100%;
}

/* ID`s */

#banner {
    height: 85px;
    max-width: 711px;
    width: 100%;
    display: block;
}

#banner_mobile {
    display: none;
}

#container {
    max-width: 711px;
    width: 100%;
    margin: 0 auto 0 auto;
    background-color:#2B2A2E
}

/* --MENU-- */
nav {
    max-width: 120px;
    width: 100%;
    background-color: #2B2A2E;
    font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    float: left;
    position: absolute;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    color: white;
    border: 2px solid #7d9bb4;
    display: block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #3D474F;
    transition: all 400ms ease-in-out;
}