/* --Website-- */

article {
    max-width: 700px;
    width: 82%;
    background-color:darkslateblue;
    color: white;
    font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    margin: 0 auto 0 auto;
    display: block;
    position: relative;
}

footer {
    max-width: 711px;
    width: 99.4%;
    margin-top: 295px;
}

/* --Classes-- */

.frame {
    max-width: 550px;
    width: 100%;
}

.frame_itch {
    max-width: 350px;
    width: 100%;
}

.iframe_icon_0 {
    max-width: 300px;
    width: 70%;
    padding-right: -180px;
    height: 135px;
    background-color: transparent;
}

.picture_responsive {
    padding-bottom: 55px; 
    max-width: 150px; 
    width: 40%;
}

.screenshots {
    max-width: 110px;
    width: 100%;
}

.table_goddess {
    max-width: 591px;
    width: 100%;
    background-image: url(../images/Goddess\ Hase\ -\ Gold\ Angel\ Corp\ -\ Itch.io.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 164px 125%;
}

.text_article {
    max-width: 220px;
    width: 100%;
}


/* ID's */
#banner {
    display: none;
}

#banner_mobile {
    height: 85px;
    max-width: 750px;
    width: 100%;
    display: block;
}

/* --MENU-- */
nav {
    max-width: 120px;
    width: 17%;
    background-color: #2B2A2E;
    font-family: sans-serif;
    font-size: 0.6em;
}