/* --Website-- */

article {
    float: right;
    max-width: 400px;
    width: 62%;
    background-color:darkslateblue;
    color: white;
    font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    position: relative;
}

footer {
    max-width: 711px;
    width: 100%;
    margin-top: 275px;
}

/* --Classes-- */

.picture_responsive {
    padding-bottom: 55px; 
    max-width: 150px; 
    width: 50%;
}

.screenshots {
    max-width: 110px;
    width: 100%;
}

.table_goddess {
    max-width: 591px;
    width: 100%;
    background-image: url(../images/Goddess\ Hase\ -\ Gold\ Angel\ Corp\ -\ Itch.io.png);
    background-repeat: no-repeat;
    background-position:right;
    background-size: 213px 110%;
}

/* --MENU-- */
nav {
    max-width: 120px;
    width: 17%;
    background-color: #2B2A2E;
    font-family: sans-serif;
    font-size: 0.6em;
}